body{
    background-color:extralightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border-radius: 3px;
    height: 500px;
    width:400px;
    
}  
